fastapi[standard]
boto3
psycopg2-binary==2.9.12
uvicorn
pydantic-settings==2.4.0
psutil
PyJWT
email-validator
pandas
svglib>=1.5.1
sqlalchemy
python-docx
cairosvg
pillow
alembic
pycairo
redis
locust
pandas>=2.0.0
pytz
psutil
asyncpg
soundfile
sounddevice
faster_whisper
assemblyai